.Notifications {
  border: 2px dashed red;
  padding: .5em;
  position: absolute;
  top: 2.5em;
  right: 0;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.menuItem {
  text-align: right;
  left: 10;
}

[data-notification-type='default'] {
	color:rgb(12, 81, 165);
}

[data-urgent],
[data-notification-type='urgent'] {
	color: red;
}
