:root {
  --border: 3px solid rgb(251, 43, 43);
  --font-color: rgb(216, 47, 47);

}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  
}

.App-body {
  border-bottom: var(--border);
  height: 60%;
}

